body {
  font-family: Poppins;
  background: var(--light);
  line-height: 26px;
  margin: 0;
}
:root {
  --light: #ffffff;
  --dark: #040d14;
  --green: #21ce99;
}

h1 {
  color: var(--green);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: white;
  text-decoration: none;
}
